/* Base styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d919b;
  margin: auto;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.containertext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

.text {
  flex: 1;
  margin: 50px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #8d919b;
}

.description {
  margin-bottom: 20px;
  color: #000000;
  font-size: 12px;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff72;
  backdrop-filter: blur(10px);
  box-shadow: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0.8px 1.7px 2.8px hsl(var(--shadow-color) / 0.06),
    1.4px 3px 5px hsl(var(--shadow-color) / 0.13),
    2px 4.3px 7.1px hsl(var(--shadow-color) / 0.19),
    2.7px 5.8px 9.6px hsl(var(--shadow-color) / 0.25),
    3.6px 7.7px 12.8px hsl(var(--shadow-color) / 0.32),
    4.8px 10.2px 16.9px hsl(var(--shadow-color) / 0.38),
    6.3px 13.6px 22.5px hsl(var(--shadow-color) / 0.44),
    8.4px 18px 29.8px hsl(var(--shadow-color) / 0.51);
}

.lowerinfo {
  margin-top: 0px;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0.8px 1.7px 2.8px hsl(var(--shadow-color) / 0.06),
    1.4px 3px 5px hsl(var(--shadow-color) / 0.13),
    2px 4.3px 7.1px hsl(var(--shadow-color) / 0.19),
    2.7px 5.8px 9.6px hsl(var(--shadow-color) / 0.25),
    3.6px 7.7px 12.8px hsl(var(--shadow-color) / 0.32),
    4.8px 10.2px 16.9px hsl(var(--shadow-color) / 0.38),
    6.3px 13.6px 22.5px hsl(var(--shadow-color) / 0.44),
    8.4px 18px 29.8px hsl(var(--shadow-color) / 0.51);
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

li {
  padding: 0.5rem 0.5rem;
  background-color: #ea5665;
  color: #fff;
  border-radius: 20px;
}

.text {
  text-align: left;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  color: #ed0c0c;
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #c41e1e;
}

/* Styles for the button */
.buttonblue {
  color: white;
  background-color: #35a3dc;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

.buttonblue:hover {
  background-color: #1f546d;
}

/* Responsive adjustments */

/* For smaller devices, stack the content vertically */
@media (max-width: 768px) {
  .containertext {
    flex-direction: column-reverse;
    text-align: center;
  }
}

/* Adjust margins and paddings for smaller devices */
@media (max-width: 480px) {
  .containertext {
    margin: 10px;
  }
  .text {
    margin: 10px;
  }
  .photo {
    margin: 10px;
  }
}

/* You can add more media queries as needed for other screen sizes */
