.containerhome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;


}

.aside {
  background-color: #11131c;
  background: url("../../assets/light\ blue\ blur.png") no-repeat center center;
  background-size: cover;
  /* background: #11131c; */

  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.label {
  margin-top: 10px;
  font-weight: 0;
  text-align: left;
}

.select {
  margin: 10px;
  border: solid 2px #424242;
  padding: 5px 10px;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  background-color: #1f2022;
  color: #8d919b;
}

.select:focus {
  background-color: #1f2022;
  cursor: pointer;
  transform: scale(1.04);
}

.select option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article {
  
  background: url("../../assets/backhome.jpg") no-repeat center center;
  backdrop-filter: blur(300px);
  background-size: cover;
  display: flex;
  margin-left: 250px;

  flex-wrap: wrap;
  justify-content: space-evenly;

}

.label {
  color: #8d919b;
  width: 500;
}



.buttoncontainer {
  padding: 20px;
  background-image: url("../../assets/—Pngtree—abstract\ dot\ white\ polka\ dot_8796915.png");
  background-color: #086696;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-top: 50px;
  text-decoration: none;
  
  
}


.text {
  text-align: left;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  color: #ffffff;
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  /* text-shadow: 2px 2px 4px #38180F; */
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
}

.button:hover {
  background-color: #e0e0e0;
}

.control {
  margin-top: -90px;
  margin-bottom: -30px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

/* Estilos para el contenedor del logo */
.logoContainer {
  display: flex;
  align-items: center;
  margin: 20px;
}


.logoImage {
  margin-right: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
