/* Estilos generales */
.containerhome {
  display: grid;
  color: #8d919b;
}

.leftSide {
  background: url(../../assets/backhomenav.jpg) no-repeat center center;
  background-size: cover;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  margin-top: 10px;
  text-align: left;
}

.select {
  margin: 10px;
  border: solid 2px #424242;
  padding: 5px 10px;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  background-color: #1f2022;
  color: #8d919b;
}

.select:focus {
  background-color: #1f2022;
  cursor: pointer;
  transform: scale(1.04);
}

.select option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article {
  display: flex;
  margin-left: 250px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.label {
  color: #8d919b;
}

.buttoncontainer {
  padding: 20px;
  background-image: url("../../assets/—Pngtree—abstract\ dot\ white\ polka\ dot_8796915.png");
  background-color: #086696;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-top: 50px;
  text-decoration: none; 
}

.text {
  text-align: left;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  color: #ffffff;
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

/*Botón azul*/
.buttonblue {
  color: white;
  background-color: #35a3dc;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

.buttonblue:hover {
  background-color: #1f546d;
}

.control {
  margin-top: -90px;
  margin-bottom: -30px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

/* Contenedor del logo */
.logoContainer {
  display: flex;
  align-items: center;
  margin: 20px;
}

.logoImage {
  margin-right: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Media query para movil */
@media screen and (max-width: 768px) {
  .containerhome {
    grid-template-columns: 1fr;
  }

  .leftSide {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .article {
    margin-left: 0;
  }
}

/* Media query pantalla grande */
@media screen and (min-width: 1200px) {
  .containerhome {
    grid-template-columns: 250px 1fr;
  }

  .leftSide {
    position: fixed;
  }

  .article {
    margin-left: 250px;
  }
}




