.footer {
  background-color: #f2f2f2;
  padding: 10px;
}

.paginator {
  display: flex;
  justify-content: center;
}

.paginator span {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.paginator span.active {
  background-color: #007bff;
  color: #fff;
}
