.container {
  background: url("../../assets/backhome.jpg") no-repeat center center;
  backdrop-filter: blur(300px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containertext {
  background-color: #fdfdfdd0;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  max-width: 600px;
}

.box {
  margin-bottom: 20px;
}

.title {
  color: #000000;
  font-size: 60px;
  margin-bottom: 10px;
}

.text {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Estilos para el botón azul*/
.buttonblue {
  color: white;
  background-color: #35a3dc;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

.buttonblue:hover {
  background-color: #1f546d;
}


